{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "encoding": "utf-8",
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "trailingComma": "es5",
    "end-of-line": "lf"
}
